footer 
        .tags.wrapper.map
                .text-line SOCIAL MARKETING & ANALYTICS
                h2.big-letters Take control of your data
                a.navigation-btn(href="#") GET STARTED
                a.navigation-btn2(href="#") explore features
        .topline.wrapper
                .logo 
                        img(src="img/planet.png", alt="misocial")
                        strong misocial
                +printmenu(menu)
        .bottom-footer.wrapper 
                .copyright © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                .social 
                        a.social-link(href="#").facebook
                        a.social-link(href="#").twiter
                        a.social-link(href="#").google
                        a.social-link(href="#").instagram