-
    menu=[
        {
            url:"#",
            text:"Home"
        },
        {
            url:"#",
            text:"Why MISOCIAL"
        },
        {
            url:"#",
            text:"Features"
        },
        {
            url:"#",
            text:"Articles"
        },
        {
            url:"#",
            text:"Pricing"
        },
    ]

header 
    .topline.wrapper
        .logo 
            img(src="img/planet.png", alt="misocial")
            strong misocial
        .burger
        +printmenu(menu)
    .tags.wrapper
        .text-line.line SOCIAL MARKETING & ANALYTICS
        h1.big-letters Pricing Table
        div.small-text Lorem ipsum, dolor sit amet consectetur adipisicing
        div.small-text elit. Optio repudiandae ducimus reprehenderit voluptatem consequuntur.
    a.navigation-btn(href="#") 
        