-
    let content=[
        {
            img:"img/satilate.png",
            h3:"personal",
            price:"0",
            p:"Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut Labore et dolore magna aliqua quis nostrud exercitation ullamco laborisEa commodo consequat.",
            href:"#"
        },
        {
            img:"img/rover.png",
            h3:"personal",
            price:"29",
            p:"Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut Labore et dolore magna aliqua quis nostrud exercitation ullamco laborisEa commodo consequat.",
            href:"#"
        },
        {
            img:"img/roket.png",
            h3:"personal",
            price:"49",
            p:"Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut Labore et dolore magna aliqua quis nostrud exercitation ullamco laborisEa commodo consequat.",
            href:"#"
        }
    ]
main
    .wrapper.plan 
        .text-line.line misocial
        h1.big-letters Select a Plan
        div.small-text Lorem ipsum dolor sit amet consectetur adipisicing
        div.small-text elit. Nulla ad odit nihil nemo hic ex?
    .wrapper.cards
        +printcards(content)
        